html, body, .fullHeight { 
  margin:0; 
  padding:0; 
  height:100%; 
}

div {
    text-align: center;
}

img {
    width: 100px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

button {
    margin-left: 20px;
}

#pageContent {

    /*margin-left: 1px;
    margin-right: 1px;*/
}

@media (min-width: 625px) {
    body {
        background-color: #999;
    }
    .tabbedDialog {
        width: 40%;
        margin: 0 auto;
    }
}

ul {
    margin-top: 3%;
}

.centerContent {
    background-color: #FFF; 
    height: 100%;
    
}

.centerContent h2 {
    margin-top: 5%;
}