html, body, .fullHeight { 
  margin:0; 
  padding:0; 
  height:100%; 
}

div {
    text-align: center;
}

img {
    width: 100px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

button {
    margin-left: 20px;
}

#pageContent {

    /*margin-left: 1px;
    margin-right: 1px;*/
}

@media (min-width: 625px) {
    body {
        background-color: #999;
    }
    .tabbedDialog {
        width: 50%;
        margin: 0 auto;
    }
}


.searchResult {
    border: 1px solid black;
    padding: 5px;
    background-color: #EEE;  
}

ul {
    margin-top: 3%;
}

